
body{
  margin: 0;
  background-color: #E6E6FA;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-image: url(https://us.123rf.com/450wm/tarapong/tarapong1507/tarapong150700015/43269748-vector-abstract-upholstery-background-.jpg?ver=6);
}
h1, h2 {
text-align: center;
}
.photo{
  padding-left: 240px;
}

hr{
margin: 10px 280px;
border-top: 5px dotted black;
}



table{
margin-left: 200px;
margin-right: 200px;
}

img{
background-color:  #E6E6FA;
width: 80%;
height: 30%;
}



.aboutme{
  font-size: 19px;
    color: blue;
    text-decoration: underline;
}
.aboutme:hover{
  color: black;
  background-color: white;
}

.contact{
padding-top: 40px;
}
