
body{
  margin: 0;
  background-color: #E6E6FA;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-image: url(https://us.123rf.com/450wm/tarapong/tarapong1507/tarapong150700015/43269748-vector-abstract-upholstery-background-.jpg?ver=6);
}
h1, h2 {
text-align: center;
}
.photo{
  padding-left: 240px;
}

hr{
border-top: 5px dotted black;
}

.header{
margin: 10px 280px 150px 280px;

}
.tops{
  margin: 10px 200px 50px 200px;
}
.skills{
text-align: left;
display: inline-block;
}
.films{
display: inline-block;
margin-left: 30px;
}

img{
float: left;
margin: 10px;
}

.aboutme{
  font-size: 19px;
  color: blue;
  text-decoration: underline;
}
.aboutme:hover{
  color: black;
  background-color: white;
}

.contact{
text-align: center;
}
